doctype
html
  head
    link(rel='stylesheet' href='index.css')
  body
    .container
      button.wand Click me!
    script(src='https://unpkg.com/css-paint-polyfill/dist/css-paint-polyfill.js')
    script(type='module' src='index.js')